body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
  background-color: #7c86df;
 
}
#game-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #007BFF;
  border-radius: 10px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
input, button {
  margin: 10px 0;
  padding: 10px;
  font-size: 1rem;
}
button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}